# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tellybackend/node_modules
tellyfrontend/node_modules
tellyfrontend/.pnp
tellyfrontend/.pnp.js

# testing
/coverage

# production
/build

# misc
tellybackend/.env
tellyfrontend/.DS_Store
tellyfrontend/.env
tellyfrontend/.env.local
tellyfrontend/.env.development.local
tellyfrontend/.env.test.local
tellyfrontend/.env.production.local

tellyfrontend/npm-debug.log*
tellyfrontend/yarn-debug.log*
tellyfrontend/yarn-error.log*
